@import url('https://fonts.googleapis.com/css2?family=Lato&family=Style+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Style Script, Lato, sans-serif;
    font-weight: 200;
}
/* headings and logo */
h1, h2{
    font-family: Style Script, cursive;
    color:#404040;
}
#logo-img{
    width: 4%;
    float:left;
    line-height:12px ;
}
#logo{
     font-size: 150%;
     margin-left: 12px;
     margin-top: 12px;

}
/* navigation bar */
#menu{
    height:50px;
    width:100%;
    text-align: center;
    margin-right:25px;
}
#menu li {
    font-family: Lato, sans-serif;
    list-style-type: none;
    margin-right: 30px;
    line-height:50px;
    font-size: 100%;
    display: inline;
    color:#505050;   
}
#menu li a{
    text-decoration: none;
}
/* hero image */
#hero-image {
    width:100%;
    height:500px;
    background-image:url('../images/hero-img.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
}
#hero-image div{
    width:100%;
    height:200%;
}
div #second-header{
    color: snow;
    text-align: center;
    padding-bottom:0;
    
}
#hero-image div p{
    color: #F5F5F5;
    text-align: center;
    margin-top:250px;
    font-size: 150%;
    font-family: Style Script, cursive;
}