/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Style+Script&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    
    font-family:Roboto, sans-serif;
    /* font-weight: 400; */
}
/* headings and logo */
header{
    width:100%;
    height:110px;
}
h1, h2, th, .form-label, input[type=submit]{
    font-family: Bebas Neue, sans-serif;
    color:#3a3a3a;
    letter-spacing: 2px;
}
#logo-img{
    width: 10%;
    float:left;
    line-height: 75px;
    
}
#logo-box a{
    text-decoration: none;
}
#logo-box p{
    font-family: Bebas Neue, sans-serif;
    color:#3a3a3a;
}
#logo{
     font-size: 240%;

}
#logo-box a:hover{
    cursor: pointer;
}
/* navigation bar */
#menu{
    width:100%;
    text-align: center;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    font-size: 150%;
    display: inline;  
}

#menu li a:hover{
    cursor: pointer;
    border-bottom: 1px solid #3a3a3a;
}

/* .menu li a:visited{
    color: #ec4a0f;
} */
/* .menu li a:focus{
    color:#ec4a0f;
} */
#menu li a{
    text-decoration: none;
    color:#3a3a3a;
}

/* section for background-image */
#image-style{
    width:100%;
    height:600px;
    overflow: hidden;
}
.background-rules {
    
    width:100%;
    height:600px;

    
}

#hero-image{
    background: url('../images/lucas-benjamin-GAM-7l4QzmI-unsplash\ \(1\).jpg') no-repeat center center;
    position: relative;
    background-color:#ec4a0f;
    width:100%;
    height:600px;
    /* animation zoom effect when loading */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
   

}
/* create animation for background-image */
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
/* center the paragraph with help of W3S */
#paragraph-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#paragraph-center p{
    color: #ffffff;
    text-align: center;
    font-size: 170%;
    font-weight:150 ;
    letter-spacing: 2px;
    font-family: Bebas Neue, sans-serif;
}


/* about-us section */

#company-details{
    width:60%;
    margin-top: 50px;
    margin-left:30px;
    float: left;
}
#company-details h2{
    text-align: center;
    color:#3a3a3a;    
}
 #company-details p{
    font-size: 120%;
    letter-spacing: 1px;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: #3a3a3a;   
}
#company-details p ~ h2{
    padding-top: 25px;
}
/* about-us image */
#about-us img{
    position: relative;
    width:35%;
    margin-left: 10px;
    margin-top: 130px;
}
hr{
    border-bottom: 1px solid #3a3a3a;
}
/* figures for company logos */

#logo-container {
    width:100%;
    height:45%;
    
    font-family: Bebas Neue, sans-serif;
    border-collapse: collapse;
}
#logo-container h1, #form-center h1{
    text-align: center;
    background-color: #FDB866;
}
.companies{
    float: left;
    width:250px;
    height:250px;
    /* border: 1px solid silver;
    border-radius: 50%; */
    padding-top: 20px;
    /* margin-bottom: 50px; */
}
.rep-company-details{
    width: 100%;
    height:100%;
    text-align: center;
    line-height: 20px;
}
.rep-company-details h2{
    padding-top: 20px;
}
.rep-company-details p{
    padding-top: 15px;
}
.rep-company-details img{
    width:70px;
    height:70px;
}
.rep-company-details a {
    text-decoration: none;
    color: #3a3a3a;
}
.rep-company-details a:hover{
    cursor: pointer;
    color: #ec4a0f;
}
/* #figure-container{
    width:100%;
    height:100%;
}

#figure-container figure{
    width:12%;
    text-align: center;
    float: left;
    padding-top: 10px;
    border:1px solid blue;
    margin-left: 3%;

}
#logo-container figure img{
    width:150px;
    height:150px;

}
#logo-container figure a{
    text-decoration: none;
    color: #3a3a3a;
}  */

/* tables for products */

#table-container{
    width:100%;
    height:55%;

}
.product-table{
    width: 70%;
    border-collapse: collapse;
    margin:0px auto;
    padding-top: 20px;

}
th {
    font-size: 150%;
    text-align: left;

}
td{
    color: #3a3a3a;
    font-size: 110%;
    border: 1px solid #3a3a3a;
    text-align: center;
}
.product-table caption{
    color: #3a3a3a;
    font-size: 100%;
    padding-top: 10px;
    font-family: Bebas Neue, sans-serif;
}

/* form */
#form-center{
    position: relative;
}
#form-container{
    width:40%;
    height:60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:thin solid #3a3a3a;
    background-color: #f0833b;
}
.form-label{
    font-size: 120%;
    color:#3a3a3a;
    font-weight: 300;
    text-align: center;
    padding-bottom: 50px;
}
.form-box{
    text-align: center;
    margin-top: 30px;
}
/* style of the input elements of form */
input[type=text]{
    width: 30%;
    height: 40px;
    
}
input[type=email]{
    width:40%;
    height: 40px;
    
}
input[type=submit]{
    background-color: #3a3a3a;
    color:#ffffff;
    border:1px solid #ffffff;
    width: 25%;
    height:50px ;
    margin-right: 20px;
    font-weight: 300;
    font-size: 120%;
}

/*  footer  */
footer{
    background-color:#3a3a3a;
    width: 100%;
    height: auto;
}
footer ul{
    list-style-type:none ;
}
footer h2, footer li{
    /* font-family: Style Script, cursive; */
    color:#F5F5F5;
    letter-spacing: 2px;
    font-weight: 300;
}

.office-address{
    float: left;
    margin-left:50px;
    margin-top: 20px;   
}
/* .fa-envelope-square{
    size: 5px;
} */
footer div {
    clear: both;
    width: 100%;
}
footer div p{
    color: #FDB866;
    padding-left: 50px;
    padding-top: 10px;
    /* font-family: Lato, sans-serif; */
    padding-bottom: 10px;
}